{% extends 'blockit/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>{% trans "BlockIt - Contact" %}</title>
{% endblock %}

{% block content %}
    {% if first_name %}
        <h2>{% trans "Thanks" %} {{ first_name }}!</h2>
        <p>{% trans "We received your email and will respond soon!"%}</p>
    {% else %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% trans "Contact Me"%}</legend>
                    {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">{% trans "Send" %}</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    {% trans "Got here by accident?"%} <a class="ml-2" href="{% url 'blockit:blockit-home' %}">{% trans "Back" %}</a>
                </small>
            </div>
        </div>
    {% endif %}
{% endblock %}
