{% extends 'blockit/base.html' %}

{% load i18n %}
{% load static %}
{% block head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>{% trans "BlockIt - The best of both worlds" %}</title>
{% endblock %}

{% block content %}
    <h3 align="center">{% trans "The Best of Both Worlds!" %}</h3>
    <p align="center"> {% trans "BlockIt - An easy to use time management system." %}</p>

    <p align="center">{% trans "Combining the best features of a calendar and a todo-list." %}</p>
    <p align="center">{% trans "Time to plan your dreams!" %}</p>
    {% if user.is_authenticated %}
        <p><br><br></p>
        <p align="center">
            {% trans "Check out your personal calendar" %}
            <a class="btn btn-warning" href="{% url 'blockit:blockit-calendar'%}">{% trans "My Calendar" %}</a>
            <br>
            {% trans "And start planning now!" %}
        </p>
    {% else %}
        <p align="center">
            <a class="btn btn-warning" href="{% url 'register' %}">{% trans "Got excited? Join BlockIt now" %}</a>
        </p>
    {% endif %}
{% endblock content %}
