body{
    background-color: white;
    font-size: 25px;
    padding: 5px;
}

table, td{
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
}

td:hover{
    background: #ffcc00;
}

.site-header .navbar-nav .nav-link {
  color: #4d4d00;
    font-size: medium;
}

td a{
    margin-top: -12px;
    margin-bottom: 5px;
    align-items: center;
    display: block;
    width: 100%;
    line-height: 200%;
    background-color: #7E8F7C;
}
th{
    font-size: 20px;
    text-align: center;
}