{% extends "blockit/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>{% trans "BlockIt - Detailed View" %}</title>
{% endblock head %}


{% block content %}
    <div class="container">
        <h4 align="center">{% trans "Detailed View" %}</h4>
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <th>{% trans "Name" %}</th>
                        <td>
                            {{ timeblock.name }}
                        </td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}</th>
                        <td>
                            {{ timeblock.description }}
                        </td>
                </tr>
                <tr>
                    <th>{% trans "Length in Minutes" %}</th>
                        <td>
                            {{ timeblock.length }}
                        </td>
                </tr>
            </tbody>

        </table>
    </div>


{% endblock content %}