{% extends "blockit/base.html" %}

{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>BlockIt - Detailed View</title>
{% endblock head %}


{% block content %}
    <div class="container">
        <h4 align="center"> Detailed View </h4>
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <th>Name</th>
                        <td>
                            {{ timeblock.name }}
                        </td>
                </tr>
                <tr>
                    <th>Description</th>
                        <td>
                            {{ timeblock.description }}
                        </td>
                </tr>
                <tr>
                    <th>Length in Minutes</th>
                        <td>
                            {{ timeblock.length }}
                        </td>
                </tr>
            </tbody>

        </table>
    </div>


{% endblock content %}