{% extends "blockit/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
    <title>BlockIt - New Timeblock</title>
{% endblock head %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-warning" type="submit" name="save">Schedule Later</button>
                <a class="btn btn-warning " href="{% url 'timeBlockList' %}" role="button">Schedule Now</a>
                <a class="btn btn-danger " href="{% url 'timeBlockList' %}" role="button">Dismiss</a>
            </div>
        </form>


        </div>
{% endblock content %}